<%= form_with model: post, local:true do |f| %>
    <div class="form-group">
    <%= f.label :エリア %>
    <%= f.select :area, ['宮崎市', '日向市', '日南市', '串間市', '高鍋町', '佐土原町', '川南町', '延岡市'],{}, class: "form-control custom-select", rows: "1" %>
  </div>
  <div class="form-group">
    <%= f.label :ポイント名 %>
    <%= f.text_field :point, class: "form-control", rows: "1" %>
  </div>
  <div class="form-group">
    <%= f.label :波情報 %>
    <%= f.text_area :caption, class: "form-control", rows: "6" %>
  </div>
  <p>
    <%= f.submit class: "btn btn-block btn-primary" %>
  </p>
  <p>
    <%= link_to '戻る', :back, class: "btn btn-block btn-secondary" %>
  </p>
<% end %>
